body {
  background-color: #FFF6ED;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 100vh;
  
}
#calculator {
  background-color: 
  #3C2A21;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px;
  width: 25%;
  height: 80%;
  font-size: 1.5rem;
 
}
.display{
  text-align: end;
  padding-right: 1rem;
  background-color: #8C766B ;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 40%;
}
.btnContainer{
  display: grid;
  gap:10px;
  grid-template-rows:repeat(5, 1fr);
  grid-template-columns:repeat(4, 1fr) ;
  height: 70%;

}
button{
  background-color:#B8A094 ;
  border-style: none;
  padding: 10px;
  font-size: 1em;
  width: 5rem;
  height: 5rem;
  border-radius: 50%; 
}
#zeroBtn{
  grid-column-start:1 ;
  grid-column-end:3 ;
  width: auto;
  border-radius: 40px;
}

.active{
  background-color:#d5b9ac ;  
}